<!DOCTYPE html>
<html class="no-js" lang="en">

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
<head>
    <meta charset="utf-8">
    <title>Dustyknot</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/image/Dustyknot_logo_favicon.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">

    <!-- for dynamic content update -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
</head>

<body>
    <%- include('header') %>

    


    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> <a href="fashion">Shop</a>
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                               
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(status){%>
                                        <% for(let i=0; i < cartItems.products.length; i++) { %>
                                    
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img src="/uploads/<%= cartItems.products[i].productItemId.image[0] %>"
                                                    alt="#">
                                            </td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name">
                                                    <a href="/userProduct" style="color: black;">
                                                        <%= cartItems.products[i].productItemId.name %>
                                                    </a>
                                                </h5>
                                                <p class="font-xs">
                                                    <!-- <%= cartItems.products[i].productItemId.description %> -->
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price">
                                                ₹ <%= cartItems.products[i].price %>
                                            </td>
                                            <td class="size" data-title="Size">
                                                <%= cartItems.products[i].size %>
                                            </td>
                                            <td class="text-center" data-title="Stock">
                                                <div class="detail-qty border radius  m-auto">
                                                    <a href="#" class="qty-down"
                                                        onclick="incOrDecQuantity('<%= cartItems.products[i].productItemId._id %>','-1')">
                                                        <i class="fi-rs-angle-small-down"></i>
                                                    </a>
                                                    <span class="qty-val"
                                                        id="quantity<%= cartItems.products[i].productItemId._id%>">
                                                        <%= cartItems.products[i].quantity %>
                                                    </span>
                                                   
                                                    <a href="#" class="qty-up"
                                                        onclick="incOrDecQuantity('<%= cartItems.products[i].productItemId._id %>','1')"
                                                        id="upButton<%= cartItems.products[i].productItemId._id%>">
                                                        <i class="fi-rs-angle-small-up"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="text-right" data-title="cart">
                                                <span id="individualTotal<%= cartItems.products[i].productItemId._id%>">₹<%=totalAmountOfEachProduct[i]%></span>
                                            </td>

                                            <td class="action" data-title="Remove">
                                                <a onclick="removeItemFromCart('<%= cartItems.products[i].productItemId._id %>','<%= i+1 %>')"
                                                    class="text-muted">
                                                    <i class="fi-rs-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>

                            </table>
                        </div>
                        <div class="cart-action text-end" style="margin-top: 40px;">
                            <a class="btn " style="background-color: 2B1754;" href="/fashion"><i
                                class="fi-rs-shopping-bag mr-10"></i>Continue
                              Shopping</a>
                          </div>
                          <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                          <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                              
                            </div>
                            <% if (cartItems.products.length>0) { %>
                              <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                  <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                  </div>
                                  <div class="table-responsive">
                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <td class="cart_total_label">Cart Subtotal</td>
                                          <td class="cart_total_amount"><span class="font-lg fw-900 text-dark" id="totalAmount"
                                              style="color: 2B1754;">
                                              ₹ <%= totalAmount %>
                                            </span>
              
              
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="cart_total_label">Shipping</td>
                                          <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                            Shipping</td>
                                        </tr>
                                        <tr>
                                          <td class="cart_total_label">Total</td>
                                          <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-dark"
                                                style="color: 2B1754;" id="TotalAmountFinal">
                                                ₹ <%= totalAmount %>
                                              </span></strong>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <a href="/checkout" class="btn" style="background-color: 2B1754;"> <i
                                      class="fi-rs-box-alt mr-10"></i> Proceed
                                    To
                                    CheckOut</a>
                                </div>
                              </div>
                              <% } %>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="vh-50 d-flex justify-content-center align-items-center">
                        <div class="card col-8 col-md-4 bg-white shadow-md p-5">
                            <div class="mb-4 text-center">
                                
                            </div>
                            <div class="text-center">
                                <h1 class="mb-4">Your Cart Is Empty !!</h1>
                                <a href="/fashion" class="btn btn-outline-success me-2">Continue Shopping</a>

                            </div>
                        </div>
                      </div>
                <% } %>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <%- include('footer') %>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    

    <script>
        const updateTotalAmount = (newTotalAmount) => {
            document.getElementById("totalAmount").innerHTML = "₹" + newTotalAmount;
            document.getElementById("TotalAmountFinal").innerHTML = "₹" + newTotalAmount;
        };
    
    
        const updateQuantity = (productId, newQuantity) => {
            $("#quantity" + productId).html(newQuantity);
        };

    
        const toggleIncrementButton = (productId, show) => {
            if (show) {
                $("#upButton" + productId).show();
            } else {
                $("#upButton" + productId).hide();
            }
        };
    
        const incOrDecQuantity = (productId, quantity) => {
            let Quantity = $("#quantity" + productId).html();
            $.ajax({
                url: `/updateCartQuantity?productId=${productId}&quantity=${quantity}`,
                method: "PATCH",
                success: (response) => {
                    if (response.status) {
                        console.log("hhhh",response.status);
                        Toastify({
                            text: `Quantity Updated`,
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            stopOnFocus: true,
                            style: {
                                background: "green",
                            },
                        }).showToast();
                        console.log(response);
                        updateTotalAmount(response.totalSubtotal);
    
                        let individualTotal = response.individualprice;
                        let total = individualTotal * response.quantity;
                        let individualPrdt = document.getElementById('individualTotal'+productId);
                        individualPrdt.innerHTML =  "₹"+total;
                        console.log('total',total);
    
                        updateQuantity(productId, response.cartDetails[0].products.quantity);

                        toggleIncrementButton(productId, true);
                    } else {
                        Toastify({
                            text: `Stock Limit Exceeded`,
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            stopOnFocus: true,
                            backgroundColor:"red"
                        }).showToast();
    
                        updateQuantity(productId, Quantity);
    
                        toggleIncrementButton(productId, false);
                    }
                }
            });


        };
    </script>
    
    

  <script>
    const removeItemFromCart = (productId, index) => {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You want to remove this item from the cart?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, remove it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/removeCart/" + productId,
                    method: "DELETE",
                    success: (response) => {
                        if (response.success) {
                            setTimeout(() => {
                                location.reload();
                            }, 800);
                        } else {
                            location.reload();
                        }
                    },
                });
            }
        });
    }
</script>


    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
    <script src="/assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

</html>