<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Dustyknot</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/image/Dustyknot_logo_favicon.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">

    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>    
</head>

<body>
    
    <%- include('header') %>


    
      
    <main class="main">
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-mr-10"></i><span class="text-muted">Didn't added your
                                    address?</span> <a href="/userAccount?tab=add-address">Click here to Add</a></span>
                                   
                        </div>


                        <div class="col-lg-6 mb-sm-15">
                            <div class="toggle_info">
                              <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Avialable Coupons</span> <a
                                  href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">See
                                  More</a></span>
                            </div>
                            <div class="panel-collapse collapse login_form" id="loginform">
                              <div class="panel-body">
                                <% for( let i=0; i < coupons.length; i++ ) { %>
                                  <p>
                                    <%=coupons[i].couponName%>: <%= coupons[i].code %>
                                  </p><br>
                                  <% } %>
                
                              </div>
                            </div>
                          </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                                    href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                    aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                              <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                              <form action="/applyCoupon" method="post" id="couponForm">
                                <div class="form-group">
                                  <input type="text" placeholder="Enter Coupon Code..." name="couponCode" id="couponCodeEnter">
                                </div>
                                <div class="form-group">
                                  <button class="btn  btn-md" name="login" style="background-color: lightskyblue;" type="submit">Apply
                                    Coupon</button>
                                    <button class="btn btn-md cancel"type="button"  id="remCoupon" onclick="removeCoupon('<%=cartItems.coupon %>','<%=userData._id %>')">Remove Coupon</button>
                              </form>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="container mt-5">
                            <h4>Saved Address</h4>
                            <div class="row gy-4">
                                <% userData.address.forEach(element=> { %>
                                    <div class="col-md-6 mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%=userData.name %>
                                                </h5>
                                                <p class="card-text">
                                                    <%= element.housename %> , <br>
                                                        <%= element.streetname %> ,<%= element.areaname %>,<br>
                                                                <%= element.districtname %>
                                                                    <%= element.statename %><br>
                                                                        <%= element.countryname %><br>Pincode:
                                                                            <%=element.pin %>
                                                </p>
                                                <input type="radio" class="form-check-input"
                                                    style="border-color: black; outline: none;" name="address"
                                                    id="address-1" value="<%= element._id %>" checked>
                                                <label for="address-1" class="form-check-label">Select this
                                                    address</label>
                                                    <button href="#" class="btn-small"
                                                            onclick="editAddress('<%=userData._id %>','<%=element._id%>')">Edit</button>

                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let i=0; i < cartItems.products.length; i++ ) { %>
                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="/uploads/<%= cartItems.products[i].productItemId.image[0] %>"
                                                        alt="#">
                                                </td>
                                                <td>
                                                    <h5><a href="#" class="text-dark">
                                                            <%= cartItems.products[i].productItemId.name %>
                                                        </a></h5> <span class="product-qty">x <%=
                                                            cartItems.products[i].quantity %></span>
                                                </td>
                                                <td>
                                                    <%=totalAmountOfEachProduct[i]%>
                                                </td>
                                            </tr>
                                            <% } %>

                                            
                                                <tr>
                                                    <th>SubTotal</th>
                                                    <td class="product-subtotal" colspan="2" class="text-dark">
                                                        <span>
                                                            <%= totalandsubtotal %>
                                                        </span>


                                                    </td>
                                                </tr>
                                            
                                                <tr>
                                                    <!-- <th>Coupon Discount</th> -->

                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="2" class="product-subtotal"><span
                                                            class="font-xl text-dark fw-900" id="totalAmount">
                                                            <%= totalandsubtotal %>
                                                        </span></td>
                                                </tr>

                                                <tr >
                                                    <th style="display: none;" >coupon code</th>
                                                    <td id="couponCodeTable" style="display: none;">
                                                        <% if (cartItems.couponAmount>0) { %>
                                                            <span> <%=cartItems.coupon %> </span>
                                                            <% } %>
                                                    </td>
                                                </tr>
                                               
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" value="RazorPay" id="exampleRadios3" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">RazorPay</label>
                                        <div class="form-group collapse in" id="bankTranfer">
                                            <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                        </div>
                                    </div>
                                    
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" value="COD" id="exampleRadios5" checked="">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">COD</label>
                                    </div>
                                </div>
                            </div>
                            <a  id="placeOrder" class="btn btn-fill-out btn-block mt-30">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <%- include('footer') %>

    <div class="modal fade" id="editAddressModal" tabindex="-1"
    aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Edit Address
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editAddressForm">
                    <input class="form-control square" name="addressid" type="text"
                        id="addressid1" hidden>
                    <div class="form-group col-md-12">
                        <label>House Name/No.<span class="required">*</span></label>
                        <input class="form-control square" name="housename"
                            type="text" id="housename1">
                        <span id="house-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Street Name <span class="required">*</span></label>
                        <input class="form-control square" name="streetname"
                            type="text" id="streetname1">
                        <span id="street-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Area/Locality<span class="required">*</span></label>
                        <input class="form-control square" name="areaname"
                            type="text" id="areaname1">
                        <span id="area-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>District<span class="required">*</span></label>
                        <input class="form-control square" name="districtname"
                            type="text" id="districtname1">
                        <span id="district-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>State<span class="required">*</span></label>
                        <input class="form-control square" name="statename"
                            type="text" id="statename1">
                        <span id="state-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Country<span class="required">*</span></label>
                        <input class="form-control square" name="countryname"
                            type="text" id="countryname1">
                        <span id="country-error" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>PIN <span class="required">*</span></label>
                        <input class="form-control square" name="pin" type="text"
                            id="pin1">
                        <span id="pin-error" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <button type="submit"
                            class="btn btn-fill-out submit">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
    <script src="/assets/js/shopd134.js?v=3.4"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>


    <script>
        function editAddress(userId, addressId) {
            console.log("clicked addressEdit", userId, addressId);
            $.ajax({
                url: "/addressEditor/" + userId + "/" + addressId,
                method: 'GET',
            })
                .done((response) => {
                    console.log("this is ajax for add modal", response);
                    if (response) {
                        document.getElementById('addressid1').value = response.addressData._id;
                        document.getElementById('housename1').value = response.addressData.housename;
                        document.getElementById('streetname1').value = response.addressData.streetname;
                        document.getElementById('areaname1').value = response.addressData.areaname;
                        document.getElementById('districtname1').value = response.addressData.districtname;
                        document.getElementById('statename1').value = response.addressData.statename;
                        document.getElementById('countryname1').value = response.addressData.countryname;
                        document.getElementById('pin1').value = response.addressData.pin;
                        $("#editAddressModal").modal("show");

                    }
                })
                .fail((error) => {
                    console.log(error);
                })

        }


    </script>


<script>
    
    document.getElementById("editAddressForm").addEventListener("submit", function (event) {
        event.preventDefault();
        let formdata = $(this).serialize();
        let addressId = $(this).find('input[name="addressid"]').val();
        console.log("address id :", addressId)
        $.ajax({
            url: "/editAddress/" + addressId,
            method: "PUT",
            data: formdata,
            success: (response) => {
                console.log(response);
                Toastify({
                    text: "Address Updated",
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "green",
                }).showToast();

                $("#editAddressModal").modal("hide");
                setTimeout(() => {
                    location.reload();
                }, 1000);

            },
            error: (xhr, status, error) => {
                console.log(error);

            }
        });
    })
</script>

<script>
    function validateForm2() {

        const houseRegex = /^[a-zA-Z0-9\s]+$/;
        const streetRegex = /^[a-zA-Z\s]+$/;
        const areaRegex = /^[a-zA-Z\s]+$/;
        const districtRegex = /^[a-zA-Z\s]+$/;
        const stateRegex = /^[a-zA-Z ]+$/;
        const countryRegex = /^[a-zA-Z ]+$/;
        const pincodeRegex = /^\d{6}$/;
        let isValid = true;


        if (!houseRegex.test(document.getElementById("housename").value)) {
            document.getElementById("house-error").innerHTML = "Invalid Format";
            isValid = false;
        } else {
            document.getElementById("house-error").innerHTML = "";
        }

        if (!streetRegex.test(document.getElementById("streetname").value)) {
            document.getElementById("street-error").innerHTML = "Invalid";
            isValid = false;
        } else {
            document.getElementById("street-error").innerHTML = "";
        }

        if (!areaRegex.test(document.getElementById("areaname").value)) {
            document.getElementById("area-error").innerHTML = "Invalid";
            isValid = false;
        } else {
            document.getElementById("area-error").innerHTML = "";
        }

        if (!districtRegex.test(document.getElementById("districtname").value)) {
            document.getElementById("district-error").innerHTML = "Invalid";
            isValid = false;
        } else {
            document.getElementById("district-error").innerHTML = "";
        }

        if (!stateRegex.test(document.getElementById("statename").value)) {
            document.getElementById("state-error").innerHTML = "Invalid";
            isValid = false;
        } else {
            document.getElementById("state-error").innerHTML = "";
        }

        if (!countryRegex.test(document.getElementById("countryname").value)) {
            document.getElementById("country-error").innerHTML = "Invalid";
            isValid = false;
        } else {
            document.getElementById("country-error").innerHTML = "";
        }

        if (!pincodeRegex.test(document.getElementById("pin").value)) {
            document.getElementById("pincode-error").innerHTML = "Invalid Pincode (should be 6 digits)";
            isValid = false;
        } else {
            document.getElementById("pincode-error").innerHTML = "";
        }

        return isValid;
    }
    document.getElementById("formButton").addEventListener("click", (e) => {
        const result = validateForm2();
        console.log(result)

        if (!result) {
            e.preventDefault();
        }
    })
</script>



<script>
    $(document).ready(function () {
      $("#placeOrder").click(function () {
        let address = $("input[name='address']:checked").val();
        let payment = $("input[name='payment_option']:checked").val();
        const code = document.getElementById("couponCodeTable").textContent.trim();
        const Amount = document.getElementById("totalAmount").innerHTML;
        const totalAmount = Amount.trim()

        const data = {
          addressId: address,
          paymentOption: payment,
          couponCode: code,
          totalAmount:totalAmount
        }
        
        
        console.log("haiii, the data is : ",data);

        if (payment === "COD") {
      $.ajax({
        url: "/placeOrder",
        method: "POST",
        
        data: JSON.stringify(data),          //old one that is working 
        contentType: "application/json",

        success: (response) => {
          if (response.status) {
            console.log('its herer');
            window.location.href = '/orderSuccessPage'
          } else {
            console.log('kayinnu poyi');
            Toastify({
              text: `${response.message}`,
              duration: 3000,
              gravity: "top",
              position: "center",
              stopOnFocus: true,
              style: {
                background: "linear-gradient(to right, aqua, blue)",
              },
            }).showToast();
          }
        }
      })
    }else if (payment === "RazorPay") {
        console.log("payment method s : ",payment);
    console.log("razorpay selected");
    console.log(typeof(totalAmount));
    $.ajax({
        url:`/createorder?totalAmount=${totalAmount}`,
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify({addressId: address,
          paymentOption: payment,
          couponCode: code,
          totalAmount:totalAmount}),
        contentType: 'application/json',
        success: function (data) {
            const parseAmount = parseInt(totalAmount);
            console.log('data ....................: > ',data);
            var options = {
                "key": "rzp_test_vFXpOj7PsDYubS",
                "amount": 100000,
                "currency": "INR",
                "name": "Dustyknot Clothings",
                "description": "Test Transaction",
                "image": "https://localhost:3003/public/image/Dustyknot.png",
                "order_id": data.orderId.id,
                "handler": function (response) {
                    console.log(response);
                    console.log("Hello .................... <<");
                    verify(response, data.orderId.id);
                    console.log("hey........................ <<");
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp = new Razorpay(options);
            rzp.open();
            rzp.on("payment.failed", function (response) {
                console.log('Payment failed:', response.error.description);
                handleFailure(response.error.description, address, payment);
            });
        },
        error: function (xhr, status, error) {
            console.error('Error:', error);
            console.error('Response Text:', xhr.responseText);
        }
    });

    function handleFailure(description, address, paymentMethod) {
        console.log('Payment failed:', description);
        createOrderWithStatusPending(address, paymentMethod);
        window.location.href = "/orderFailure-page";
    }

    function createOrderWithStatusPending(address, paymentMethod) {
        $.ajax({
            url: '/placeOrder',
            type: 'POST',
            dataType: 'json',
            data: ({
                addressId: address,
                paymentOption: paymentMethod,
                status: "payment pending",
                totalAmount:totalAmount
            }),
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.success) {
                    window.location.href = '/orderFailure-page';
                } else {
                    console.error('Error: Order creation failed');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                console.error('Response Text:', xhr.responseText);
            }
        });
    }

    function verify(response, orderId) {
        $.ajax({
            url: '/paymentSuccess',
            type: 'POST',
            data: ({
                paymentid: response.razorpay_payment_id,
                razorpayorderid: response.razorpay_order_id,
                signature: response.razorpay_signature,
                orderId
            }),
            success: function (data) {
                if (data.success) {
                    $.ajax({
                        url: '/placeOrder',
                        type: 'POST',
                        data: ({
                            addressId: address,
                            paymentOption: payment,
                            totalAmount:totalAmount
                        }),
                        success: function (data) {
                            window.location.href = '/ordersuccesspage';
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                            console.error('Response Text:', xhr.responseText);
                        }
                    });
                } else {
                    console.error('Payment failed:', data.error);
                    alert('Payment failed. Please try again later.');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                console.error('Response Text:', xhr.responseText);
            }
        });
    }
}

})
})
</script>



<script>
    $(document).ready(function () {
        const price = document.getElementById("totalAmount").innerText.trim()

        $("#couponForm").submit(function (event) {

            event.preventDefault();
            let formData = $("#couponCodeEnter").val();
            $.ajax({
                url: `/applyCoupon?price=${price}&couponCode=${formData}`,
                method: "POST",
                success: (response) => {
                    if (response.status) {
                        Toastify({
                            text:` ${response.message}`,
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            stopOnFocus: true,
                            style: {
                                background: "green",
                            },
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 3000);


                    } else {
                        Toastify({
                            text:`${response.message}`,
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            stopOnFocus: true,
                            style: {
                                background: "red",
                            },
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 3000);
                    }

                },
                error: (error) => {
                    console.log(error)
                }
            })


        })

    })

</script>

<script>
    function removeCoupon (coupon,userId) {
        

        $.ajax({
            
            url: `/removeCoupon?coupon=${coupon}&userId=${userId}`,
            type:'POST',
            success: function (response) {
                $('#couponAmountText').text('no coupon applied');
            },
            error: function (error) {
                console.error(error,'Error removing coupon');
            }

        })
    }
</script>

</body>

</html>